In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('https://data.ssb.no/api/v0/dataset/1122.csv?lang=en', sep=",")
df

,commodity group,week,contents,"03024: Export of salmon, fish-farm bred, by commodity group, week and contents"
0,"01 Fish-farm bred salmon, fresh or chilled",2000U01,Weight (tonnes),3728.00
1,"01 Fish-farm bred salmon, fresh or chilled",2000U01,Price per kilo (NOK),30.98
2,"01 Fish-farm bred salmon, fresh or chilled",2000U02,Weight (tonnes),4054.00
3,"01 Fish-farm bred salmon, fresh or chilled",2000U02,Price per kilo (NOK),31.12
4,"01 Fish-farm bred salmon, fresh or chilled",2000U03,Weight (tonnes),4043.00
...,...,...,...,...
4315,"02 Fish-farm bred salmon, frozen",2020U35,Price per kilo (NOK),57.45
4316,"02 Fish-farm bred salmon, frozen",2020U36,Weight (tonnes),235.00
4317,"02 Fish-farm bred salmon, frozen",2020U36,Price per kilo (NOK),53.19
4318,"02 Fish-farm bred salmon, frozen",2020U37,Weight (tonnes),261.00
4319,"02 Fish-farm bred salmon, frozen",2020U37,Price per kilo (NOK),59.46

In [2]:
df_copy = df.copy()

In [3]:
df_copy['week'] = df_copy['week'].apply(lambda x: x.replace('U','-W'))

#df_copy['week'] = pd.to_datetime(df_copy['week'])

df_copy

,commodity group,week,contents,"03024: Export of salmon, fish-farm bred, by commodity group, week and contents"
0,"01 Fish-farm bred salmon, fresh or chilled",2000-W01,Weight (tonnes),3728.00
1,"01 Fish-farm bred salmon, fresh or chilled",2000-W01,Price per kilo (NOK),30.98
2,"01 Fish-farm bred salmon, fresh or chilled",2000-W02,Weight (tonnes),4054.00
3,"01 Fish-farm bred salmon, fresh or chilled",2000-W02,Price per kilo (NOK),31.12
4,"01 Fish-farm bred salmon, fresh or chilled",2000-W03,Weight (tonnes),4043.00
...,...,...,...,...
4315,"02 Fish-farm bred salmon, frozen",2020-W35,Price per kilo (NOK),57.45
4316,"02 Fish-farm bred salmon, frozen",2020-W36,Weight (tonnes),235.00
4317,"02 Fish-farm bred salmon, frozen",2020-W36,Price per kilo (NOK),53.19
4318,"02 Fish-farm bred salmon, frozen",2020-W37,Weight (tonnes),261.00
4319,"02 Fish-farm bred salmon, frozen",2020-W37,Price per kilo (NOK),59.46

In [4]:
# you are having issues with week numbers in POWER BI. Python do not understand that 2004 had 53 weeks. 
# It labels 2004-W53 and 2005-W01 as the same


df_copy.iloc[520:,:].head(20)

,commodity group,week,contents,"03024: Export of salmon, fish-farm bred, by commodity group, week and contents"
520,"01 Fish-farm bred salmon, fresh or chilled",2004-W53,Weight (tonnes),3814.00
521,"01 Fish-farm bred salmon, fresh or chilled",2004-W53,Price per kilo (NOK),23.57
522,"01 Fish-farm bred salmon, fresh or chilled",2005-W01,Weight (tonnes),6661.00
523,"01 Fish-farm bred salmon, fresh or chilled",2005-W01,Price per kilo (NOK),23.29
524,"01 Fish-farm bred salmon, fresh or chilled",2005-W02,Weight (tonnes),5900.00
525,"01 Fish-farm bred salmon, fresh or chilled",2005-W02,Price per kilo (NOK),22.67
526,"01 Fish-farm bred salmon, fresh or chilled",2005-W03,Weight (tonnes),6172.00
527,"01 Fish-farm bred salmon, fresh or chilled",2005-W03,Price per kilo (NOK),22.87
528,"01 Fish-farm bred salmon, fresh or chilled",2005-W04,Weight (tonnes),6245.00
529,"01 Fish-farm bred salmon, fresh or chilled",2005-W04,Price per kilo (NOK),23.75
530,"01 Fish-farm bred salmon, fresh or chilled",2005-W05,Weight (tonnes),6368.00
531,"01 Fish-farm bred salmon, fresh or chilled",2005-W05,Price per kilo (NOK),24.50
532,"01 Fish-farm bred salmon, fresh or chilled",2005-W06,Weight (tonnes),5667.00
533,"01 Fish-farm bred salmon, fresh or chilled",2005-W06,Price per kilo (NOK),24.99
534,"01 Fish-farm bred salmon, fresh or chilled",2005-W07,Weight (tonnes),6128.00
535,"01 Fish-farm bred salmon, fresh or chilled",2005-W07,Price per kilo (NOK),24.98
536,"01 Fish-farm bred salmon, fresh or chilled",2005-W08,Weight (tonnes),6789.00
537,"01 Fish-farm bred salmon, fresh or chilled",2005-W08,Price per kilo (NOK),25.05
538,"01 Fish-farm bred salmon, fresh or chilled",2005-W09,Weight (tonnes),7157.00
539,"01 Fish-farm bred salmon, fresh or chilled",2005-W09,Price per kilo (NOK),24.86

In [5]:
import datetime

# for row in df_copy['week']:
#     row = datetime.datetime.strptime(row + '-1', "%Y-W%W-%w")

# df_copy['week'] = datetime.datetime.strptime(df_copy['week'] + '-1', "%Y-W%W-%w")

df_copy['week'] = df_copy['week'].apply(lambda x: datetime.datetime.strptime(x + '-1', "%Y-W%W-%w"))

df_copy

,commodity group,week,contents,"03024: Export of salmon, fish-farm bred, by commodity group, week and contents"
0,"01 Fish-farm bred salmon, fresh or chilled",2000-01-03,Weight (tonnes),3728.00
1,"01 Fish-farm bred salmon, fresh or chilled",2000-01-03,Price per kilo (NOK),30.98
2,"01 Fish-farm bred salmon, fresh or chilled",2000-01-10,Weight (tonnes),4054.00
3,"01 Fish-farm bred salmon, fresh or chilled",2000-01-10,Price per kilo (NOK),31.12
4,"01 Fish-farm bred salmon, fresh or chilled",2000-01-17,Weight (tonnes),4043.00
...,...,...,...,...
4315,"02 Fish-farm bred salmon, frozen",2020-08-31,Price per kilo (NOK),57.45
4316,"02 Fish-farm bred salmon, frozen",2020-09-07,Weight (tonnes),235.00
4317,"02 Fish-farm bred salmon, frozen",2020-09-07,Price per kilo (NOK),53.19
4318,"02 Fish-farm bred salmon, frozen",2020-09-14,Weight (tonnes),261.00
4319,"02 Fish-farm bred salmon, frozen",2020-09-14,Price per kilo (NOK),59.46

In [6]:
# fresh fish 

df_fresh = df_copy[df_copy['commodity group']=='01 Fish-farm bred salmon, fresh or chilled']

df_frozen = df_copy[df_copy['commodity group']=='02 Fish-farm bred salmon, frozen']

df_fresh.drop('commodity group',axis=1, inplace = True)

df_frozen.reset_index(drop=True,inplace=True)

df_frozen.drop('commodity group',axis=1, inplace = True)
df_frozen

C:\Users\William W. Johnsen\Anaconda3\lib\site-packages\pandas\core\frame.py:4164: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,week,contents,"03024: Export of salmon, fish-farm bred, by commodity group, week and contents"
0,2000-01-03,Weight (tonnes),383.00
1,2000-01-03,Price per kilo (NOK),32.54
2,2000-01-10,Weight (tonnes),216.00
3,2000-01-10,Price per kilo (NOK),33.63
4,2000-01-17,Weight (tonnes),633.00
...,...,...,...
2155,2020-08-31,Price per kilo (NOK),57.45
2156,2020-09-07,Weight (tonnes),235.00
2157,2020-09-07,Price per kilo (NOK),53.19
2158,2020-09-14,Weight (tonnes),261.00
2159,2020-09-14,Price per kilo (NOK),59.46

In [7]:
weeks = df_copy['week'][::2]

weeks.reset_index(drop=True, inplace=True)

weeks

0      2000-01-03
1      2000-01-10
2      2000-01-17
3      2000-01-24
4      2000-01-31
          ...
2155   2020-08-17
2156   2020-08-24
2157   2020-08-31
2158   2020-09-07
2159   2020-09-14
Name: week, Length: 2160, dtype: datetime64[ns]

In [8]:
df_frozen['price_kg']=0

df_frozen = pd.DataFrame(df_frozen['03024: Export of salmon, fish-farm bred, by commodity group, week and contents'].values.reshape(-1, 2), columns = ['03024: Export of salmon, fish-farm bred, by commodity group, week and contents', 'price_kg'])

df_frozen.columns=['Weight_Tons', 'Price_kg']

df_frozen = pd.merge(df_frozen, pd.DataFrame(weeks), left_index=True, right_index=True)

df_frozen

C:\Users\William W. Johnsen\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      Weight_Tons  Price_kg       week
0           383.0     32.54 2000-01-03
1           216.0     33.63 2000-01-10
2           633.0     36.06 2000-01-17
3           393.0     34.27 2000-01-24
4           453.0     33.91 2000-01-31
...           ...       ...        ...
1075        300.0     56.73 2020-08-17
1076        300.0     56.03 2020-08-24
1077        380.0     57.45 2020-08-31
1078        235.0     53.19 2020-09-07
1079        261.0     59.46 2020-09-14

[1080 rows x 3 columns]

In [9]:
df_fresh['price_kg']=0

df_fresh = pd.DataFrame(df_fresh['03024: Export of salmon, fish-farm bred, by commodity group, week and contents'].values.reshape(-1, 2), columns = ['03024: Export of salmon, fish-farm bred, by commodity group, week and contents', 'price_kg'])

df_fresh.columns=['Weight_Tons', 'Price_kg']

df_fresh = pd.merge(df_fresh, pd.DataFrame(weeks), left_index=True, right_index=True)

df_fresh

C:\Users\William W. Johnsen\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      Weight_Tons  Price_kg       week
0          3728.0     30.98 2000-01-03
1          4054.0     31.12 2000-01-10
2          4043.0     31.03 2000-01-17
3          3730.0     30.95 2000-01-24
4          3831.0     31.30 2000-01-31
...           ...       ...        ...
1075      17910.0     51.70 2020-08-17
1076      18922.0     52.61 2020-08-24
1077      18760.0     49.25 2020-08-31
1078      21788.0     48.90 2020-09-07
1079      21188.0     49.46 2020-09-14

[1080 rows x 3 columns]

In [10]:
df_full = pd.merge(df_fresh, df_frozen, left_index=True, right_index=True)

df_full.columns=['Weight_Ton_Fresh', 'Price_kg_Fresh', 'Week', 'Weight_Ton_Frozen', 'Price_kg_Frozen', 'week_y']

df_full.drop('week_y', axis=1,inplace=True)

df_full[['Week','Weight_Ton_Fresh', 'Price_kg_Fresh',  'Weight_Ton_Frozen', 'Price_kg_Frozen']]

,Week,Weight_Ton_Fresh,Price_kg_Fresh,Weight_Ton_Frozen,Price_kg_Frozen
0,2000-01-03,3728.0,30.98,383.0,32.54
1,2000-01-10,4054.0,31.12,216.0,33.63
2,2000-01-17,4043.0,31.03,633.0,36.06
3,2000-01-24,3730.0,30.95,393.0,34.27
4,2000-01-31,3831.0,31.30,453.0,33.91
...,...,...,...,...,...
1075,2020-08-17,17910.0,51.70,300.0,56.73
1076,2020-08-24,18922.0,52.61,300.0,56.03
1077,2020-08-31,18760.0,49.25,380.0,57.45
1078,2020-09-07,21788.0,48.90,235.0,53.19
1079,2020-09-14,21188.0,49.46,261.0,59.46

In [11]:
df_full.to_excel('fish_export_clean.xlsx', index=False)